*{
  list-style: none;
}




.wrap{
background-color: #CB2F09;
max-width: 30%;
max-height: 20%;
-moz-box-shadow: 5px 5px 5px #222;
-webkit-box-shadow: 5px 5px 5px #222;
box-shadow: 5px 5px 5px #222;
}

.picture{
max-width: 50%;
max-height: 50%;
-moz-box-shadow: 10px 10px 5px #222;
-webkit-box-shadow: 10px 10px 5px #222;
box-shadow: 10px 10px 5px #222;

}


p{
display: block;
padding-left: 15px;
padding-right: 15px;
}




ul li{
margin-bottom: 5%;
background-color: #FDEFDE;
text-align: center;

background-position: center;
}
